body {
    font-family: Arial;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}